<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- the log configuration file for the Poesys Dataloader project -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- ============================================ Append error messages to a local error log ============================================ -->
  <appender name="FILE" class="org.apache.log4j.FileAppender">
    <param name="File" value="dataloader.log" />
    <param name="Threshold" value="DEBUG" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
    </layout>
  </appender>

  <!-- ================================ Append messages to the console ================================ -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="DEBUG" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%-5p [%c{1}] %m%n" />
    </layout>
  </appender>


  <!-- ================== Limit categories ================== -->

  <!-- debugging for Apache tools -->
  <category name="org.apache">
    <priority value="INFO" />
  </category>

  <!-- debugging for Poesys/DB -->
  <category name="com.poesys">
    <priority value="INFO" />
  </category>

  <!-- debugging for Poesys/DB SQL transactions -->
  <category name="com.poesys.db.dao">
    <priority value="INFO" />
  </category>

  <category name="com.poesys.db.dao.PoesysTrackingThread">
    <priority value="INFO" />
  </category>

  <category name="com.poesys.db.dto">
    <priority value="INFO" />
  </category>

  <category name="com.poesys.db.dao.DaoCacheFactory">
    <!-- debugging for caching subsystem -->
    <priority value="INFO" />
  </category>

  <!-- debugging for accounting system -->
  <category name="com.poesys.accounting.bs.transaction">
    <!-- debugging for transaction subsystem -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.bs.account">
    <!-- debugging for account subsystem -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader">
    <!-- debugging for DataLoader -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.DataLoader">
    <!-- debugging for DataLoader -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.oldaccounting.OldDataBuilder">
    <!-- debugging for OldDataBuilder -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.NonStoringStorageManager">
    <!-- debugging for DataLoader storage manager -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.StorageManagerTest">
    <!-- debugging for DataLoader storage manager JUnit tests -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.Statement">
    <!-- debugging for statements -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.Rollup">
    <!-- debugging for detailed rollup debugging -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.CapitalStructure">
    <!-- debugging for detailed capital transfer debugging -->
    <priority value="INFO" />
  </category>

  <category name="com.poesys.accounting.dataloader.newaccounting.PoesysFiscalYearUpdater">
    <!-- debugging for detailed capital transfer debugging -->
    <priority value="INFO" />
  </category>

  <!-- ========================= Setup the Root category ========================= -->
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="FILE" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
